@font-face {
    font-family: 'fa-solid-900';
     src: url('/fonts/fa-solid-900.eot') format('embedded-opentype'),
          url('/fonts/fa-solid-900.woff') format ('woff'),
          url('/fonts/fa-solid-900.ttf') format ('truetype'),
          url('/fonts/fa-solid-900.woff2') format ('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pe-icon-7-stroke';
     src: url('/fonts/Pe-icon-7-stroke.eot') format('embedded-opentype'),
          url('/fonts/Pe-icon-7-stroke.woff') format ('woff'),
          url('/fonts/Pe-icon-7-stroke.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}
